.navbar {
    z-index: 9999;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    /* background-color:  #e2e8f0; */
   
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav-logo {
    flex: 1;
    margin-left: 55px;  
    margin-top: -22px;
    
  }
  
  .nav-item {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .nav-item p{
   color: rgb(76, 76, 170);
   margin-top: 5px;
   font-size: 1.1rem;
 
   font-family: "Nunito Sans", sans-serif;
  }
  
  .nav-item ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style-type: none;
    margin-right: 15%;
    font-size: 1.1rem;
    color: black;
    font-family: "Nunito Sans", sans-serif;
  }
  
    
  /* İcon ayarları navbar */
  .nav-item ul li:nth-child(1) a {
    color:rgb(0, 0, 0);
  }
  
  /* .nav-item ul li:nth-child(2) a {
    background-color: rgb(60, 114, 150);  
    color:rgb(255, 255, 255);
  }
  
  .nav-item ul li:nth-child(3) a {
    background-color: rgb(60, 114, 150);  
    color:rgb(255, 255, 255);
  } */
  
  
  .nav-item ul li a {
    display: inline-block;
    line-height: 50px; 
    text-align: center; 
    
    text-decoration: none;
    color: rgb(34, 34, 34);
    transition: background-color 0.7s ease; /* Geçiş efekti */
  }

  .nav-item ul #nav-item-text a:hover{
    color: whitesmoke;
    background-color: rgb(102, 102, 102);
    border-radius: 5%;
  }
  
  @media screen and (max-width: 1360px) {

    .nav-logo {
      flex: 1;
    }
    
    .nav-item {
      flex: 4;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .nav-item p{
      font-size: 1rem;
    }
  
  }
  
  @media (max-width: 834px) {

    .nav-item p{
      font-size: 1rem;
      margin-left: 35px;
      text-wrap: nowrap;
    }

    .nav-item ul {
      display: flex;
      flex-direction: row;
      gap: 20px;
      list-style-type: none;
      margin-right: 15%;
      font-size: 1.1rem;
      color: black;
    
    }

    .nav-logo {
      flex: 1;
      margin-left: 10px;  
      margin-top: -22px;
    }
    
    .nav-logo {
      flex: 1; 
    }
    .nav-item {
      flex: 5;
    }
  }

  @media (max-width: 768px) {

    .nav-item p{
      font-size: 0.8rem;
      margin-left: 35px;
    }

    .nav-item ul {
      display: flex;
      flex-direction: row;
      gap: 20px;
      list-style-type: none;
      margin-right: 15%;
      font-size: 0.8rem;
      color: black;
    
    }

    .nav-logo {
      flex: 1;
      margin-left: 10px;  
      margin-top: -22px;
    }

  }

  @media (max-width: 660px) {

    /* Açılır kapanır menü */
  }